*
{
    padding: 0px;
    margin: 0px;
    font-family:  "League Spartan", sans-serif;
}
body
{
    background-color: #d7d5f58c;
}
.title
{
    display: flex;
    justify-content:space-between;
    height :40%;

}
.search h6
{
    position: relative;
    text-align: center; 
}
.search
{
    background-color: rgba(240, 248, 255, 0.697);
    width: 25%;
    height: 10%;
    position: relative;
    top: 15px;
    border-radius: 50px;
}
.logo
{
    margin-left: 10px;
    margin-top: 5px;

}
.accounts
{
    display: flex;
    gap:10px;
   
    margin-top: 5px;
} 
.mens,.womens
{
    margin: 50px;
}
.mens h1,.womens h1
{
    font-size: x-large;
    margin: 10px;
}
.promotion img
{
    width:100%;
    margin: 0px 5px 0px 5px;
}
.about
{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.myaccount
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart h5,.menu h5
{
    display: inline;

}
.cart,.menu
{
    background-color: white;
    height: fit-content;
    padding: 5px 10px ;
    border-radius:10px ;
}
.contact
{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.about img
{
    width: 25%;
    margin: 0px 10px 50px 0px;
}
footer
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-bottom: 50px;
}
footer div
{
    padding: 20px;
}

a:link
{
    text-decoration: none;
    color:rgb(39, 127, 115);
}
.collections
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    align-items:center ;
}
.section
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.img
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(100px,1fr));
    gap: 20px;
    row-gap: 50px ;
    column-gap: 50px ;
    
}
.img div img,h5
{
    padding:10px;
}
.product
{
    background-color: white;
    height: auto;
    overflow: hidden;
    border-radius: 20px ;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.219);
    padding: 10px;
 
}
.info h5
{
    padding :0px;
}
.info
{
   display: flex;
   flex-direction: column;
   text-align: left;
   padding: 5px 10px;
   gap: 15px;
  
}
.star
{
    color: #ffb703;
}
.img div img
{
    width:90%;
    padding: 15px;
    border-radius: 25px;
}

.logo img{
    width: 90px;
}
.top
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo h1
{
    color:#000000;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}
.discover h2
{
    font-size:45px;
    font-weight: 900;
    color: #0378fe; 
}
.discover h1
{

    font-size:50px;
    font-weight: 900;
    color: #0303ff;
}
.buy
{
 
    border-radius: 10px;
    width: fit-content;
    border: 10px;
  margin: 10px;
  margin-left: 25% ;
   background-color: white;
   border: 1px solid black;
    
}
.buy h1
{
    padding: 15px;
    font-size: 25px;
}
.discover
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 5px;
}
.icon
{
  
    margin: 5px;
    font-size: 25px;
}
.follow h4
{
    font-size: 25px;
    margin: 10px;
}
.image
{
    background-image: url("media/home.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
   background-position: top 25% right 0px  ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
   
}
